<div class="banner" style="background-image: #907F9F; background-size: cover;">
  <div class="container">
    <h1>Find the flat of your dream</h1>
    <p>Change your life and rent a flat.</p>
    <a class="btn btn-flat" href="#">Look for it now</a>
  </div>
</div>
